extend layout
block content
	script
		$(document).ready(function(){
			// Detect artist search
			$('#artist').on('change keyup',function(){
				var artistName = $(this).val();
				if(artistName.length>3||(artistName.length%3)==0)
				{
					$.ajax({
						url:'http://developer.echonest.com/api/v4/artist/search',
						data:{
							'api_key':'R9RBK9MF4OKHSIVRW',
							'format': 'json',
							'name': artistName,
							'fuzzy_match': true
						},
						success: function(data){
							$.each(data.response.artists,function(index,value){
								$.ajax({
									url:'http://developer.echonest.com/api/v4/song/search',
									data:{
										'api_key':'R9RBK9MF4OKHSIVRW',
										'format': 'json',
										'artist_id': value.id,
									},
									success: function(songData){
										$.each(songData.response.songs,function(index2,value2){
											$('#song-list').prepend('<li><a href="/play?id='+value2.id+'">'+value2.artist_name+': '+value2.title+'</a></li>');
										});
									}
								});
							});
							$('#song-list img').remove();
						},
						beforeSend: function(){
							$('#song-list').html('<img src="http://www.ajaxload.info/cache/FF/FF/FF/31/BB/B9/8-1.gif" />')
						}
					});
				}
			});
			$('ul#selected-earlier li a').click(function(e){
				console.log($(this).html());
				$('#artist').val($(this).html()).change();
				e.preventDefault();
			});
		});
	form
		label(for='artist')
			input(id='artist' placeholder='Artist Name')
	ul(id='song-list')
	ul(id='selected-earlier')
		li
			a(href='#')
				| Black Sabbath
		li
			a(href='#')
				| Alkaline Trio
		li
			a(href='#')
				| Rick Astley
