doctype html
html
	head
		link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
		link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootswatch/3.0.2/cyborg/bootstrap.min.css')
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
	body
		div(class='container')
			block content